@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Slabo+27px&display=swap');
/* intro head */
#header {
    display: flex;
    text-align: center;
    background-image: url(../images/particle-effect.gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-size: cover;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
}

/* text on gif area */
#intro  {
    color: white;
    font-size: 36px;
}
#project-arrow{
    color: white;
    font-size: 150px;
}
#intro {
    padding-left: 530px;
    margin-top: 120px;
    margin-bottom: 200px;
}
/* end here */

/* styling for quote */
.pulse {
    font-size: 40px;
    background-color: #E0CBA8;
    text-align: center;
    color: black;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
#name {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
}
footer{
    background-color: #E0CBA8;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
#back {
    color: white;
}
#projects li {
    list-style: none;
}
.pizza20 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pizza.png");
}

.pizaa20:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("../images/pizza.png");
    transition: all 1s;
}
.generator {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/akan.png");
}

.generator:hover {
    background-image: -webkit-linear-gradient(rgba(8, 7, 7, 0.7), rgba(8, 7, 7, 0.7)), url("../images/akan.png");
    transition: all 1s;
}
.remedy {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/remedy.png");
}

.remedy:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/remedy.png");
    transition: all 1s;
}
.matatuu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/matatuu\ \(2\).png");
}

.matatuu:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/matatuu\ \(2\).png");
    transition: all 1s;
}
.pizza20,
.generator,
.remedy,
.matatuu {
    background-size: cover;
    padding-top: 90px;
    /* padding-bottom: 90px; */
    text-align: center;
    max-height: 300px !important;
    color: white;
}
.pizza20:hover .overlay,
.generator:hover .overlay,
.remedy:hover .overlay,
.matatuu:hover .overlay
{
    opacity: 1;
    transition: all 1s;
}
.overlay {
    opacity: 0;
    height: 180px;
}
a button {
    background-color: #49A3DC;
    color: white;
}

